@model IEnumerable<QLBH_NHOM.Models.NHANVIEN>
@{
    int i = 0;

    Layout = "~/Areas/Admin/Views/Shared/ViewAdminChung.cshtml";
    string gtinh = "";
    <link href="~/Content/css/table.css" rel="stylesheet" />

}


<!-- DataTales Example -->

<div id="layoutSidenav_content container-fluid">
    <main>
        <div class="container-fluid px-4">

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Quản lý người dùng</li>
                <li class="breadcrumb-item active">Nhân viên</li>
            </ol>
            <h3 class="text-center text-uppercase">Danh sách nhân viên</h3>
            <div> @Html.ActionLink("Thêm mới", "Create")</div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="datatablesSimple" width="100%" cellspacing="0">
                            <thead style="background-color: #f0f2f5">
                                <tr>
                                    <th>STT</th>
                                    <th>Mã</th>
                                    <th>
                                        Họ tên nhân viên
                                    </th>
                                    <th>
                                        Giới tính
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Nghiệp vụ
                                    </th>
                                    <th>
                                        Tên đăng nhập
                                    </th>
                                    <th>Chức năng</th>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{i++;} @i
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => item.MANV)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HOTENNV)
                                        </td>

                                        <td>
                                            @{if (item.GIOITINH == true)
                                                { gtinh = "Nam"; }
                                                else
                                                { gtinh = "Nữ"; }
                                            }
                                            @gtinh
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EMAIL_NV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SDT)
                                        </td>

                                        <td>
                                            @{if (item.QUYENNV == 1)
                                                { gtinh = "Admin"; }
                                                else if (item.QUYENNV == 2)
                                                { gtinh = "Duyệt đơn"; }
                                                else { gtinh = "Shipper"; }
                                            }
                                            @gtinh
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TENDANGNHAP)
                                        </td>

                                        <td>

                                            <a href="@Url.Action("Edit",
                        new { id = item.MANV})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="~/Content/img/edit.png" width="20" height="20" /></abbr></a>|
                                            <a href="@Url.Action("Details",
                 new { id = item.MANV })" class="edit-btn"><abbr title="Xem chi tiết"><img src="~/Content/img/details.png" width="20" height="20" /></abbr></a>|
                                            <a href="@Url.Action("Delete",
                new { id = item.MANV })" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Content/img/delete.png" width="20" height="20" /></abbr></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Content/js2/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/Content/js2/datatables-simple-demo.js"></script>


