@model QLBH_NHOM.Models.DONHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/ViewAdminChung.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa đơn này?</h3>
<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHIGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.HOTENNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HOTENNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN1.HOTENNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN1.HOTENNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGDON.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGDON.MOTA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
