@model QLBH_NHOM.Models.DONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/ViewAdminChung.cshtml";
}

<body>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item active">Quản lý đơn hàng</li>
            <li class="breadcrumb-item active">Đơn hàng</li>
            <li class="breadcrumb-item active">Xem chi tiết</li>
        </ol>

        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 class="mb-4 text-primary text-center">THÔNG TIN CHI TIẾT</h4>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                                <div class="form-group">
                                    <label for="fullName">Mã đơn: </label>
                                    @Html.DisplayFor(model => model.MADON, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Khách hàng: </label>

                                    @Html.DisplayFor(model => model.MAKH)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Thanh toán: </label>

                                    @Html.DisplayFor(model => model.TIEN)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Ngày đặt </label>

                                    @Html.DisplayFor(model => model.NGAYDAT)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Ngày giao: </label>

                                    @Html.DisplayFor(model => model.NGAYGIAO)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Nhân viên duyệt: </label>

                                    @Html.DisplayFor(model => model.NHANVIEN.HOTENNV)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Nhân viên giao: </label>

                                    @Html.DisplayFor(model => model.NHANVIEN1.HOTENNV)



                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Địa chỉ giao: </label>
                                    @Html.DisplayFor(model => model.DIACHIGIAO)


                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="fullName">Tình trạng đơn: </label>
                                    @Html.DisplayFor(model => model.TINHTRANGDON.MOTA)

                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    
                                    @Html.Partial("SPDAT");
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-center">
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-12">
                                        @Html.ActionLink("Sửa", "Edit", new { id = Model.MADON }) |
                                        @Html.ActionLink("Trở về", "Index")
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>


